<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @clinic.street %>
</p>

<p>
  <strong>Street optional:</strong>
  <%= @clinic.street_optional %>
</p>

<p>
  <strong>City:</strong>
  <%= @clinic.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @clinic.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @clinic.zip %>
</p>

<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
